{% extends 'base.html' %}
{% block content %}
<style type="text/css">
    .login-container{
        padding:20px;
    }
</style>
<div class="container">
    <form class="col s12" name='login' action="{% url 'mainapp:homepage' %}" method="POST">
        {% csrf_token %}
        <div class="card active">
            <div class="container login-container">
                <div class="card-title center"><strong>Login to your Account</strong></div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row center">
                    <button type='submit' name='login' class="waves-effect waves-dark btn btn-lg btn1" value='login'>LOGIN</button>
                </div>
                <div class="center">
                <a href="{% url 'accounts:account_signup' %}">Already have an Account? Login Here</a></div>
            </div>
        </div>
    </form>
</div>
</div>
</div>
{% endblock %}