{% extends 'base.html' %}
{% block content %}
<style>
    .left, .right2{
        transition: opacity 0.9s ease-in-out;
        overflow: auto;
    }

    

    .right1{
        overflow: auto;
        opacity: 80%;
        transition: opacity 1s ease-out;
        
    }

    .full{
        display:flex;
    }
    
    .left{
        
        overflow: auto;
        width: 50vw;
        height: 85vh;
        resize: both;
        animation: unfold 1.5s ease-in-out;
        transition: box-shadow 0.5s ease;
        border-radius:5px;
        border: 1px solid teal;
    }


    .total{
        opacity: 10%;
        transition: all 0.3s ease-in-out;
    }

    .total:hover{
        opacity: 100%;
    }

    .main-card{
        /*margin-left: 100px;*/
        background: linear-gradient(170deg, #EECDA3, #EF629F);
        width: 100%;
    }


    .buttons{
        display: flex;
        flex-direction: column;
        width:200px;
        animation: widthdown 1s ease-in-out;
        transition: all 0.5s ease-in-out;
        border-radius: 3%;
    }

    .statistics{
        font-family: Rubik, sans-serif;
        animation: appear 0.7s ease-in-out;

    }

    .total_form{
        color:white;
    }

    .btn {
        background: none;
        cursor: pointer;
        margin: 10px;
        transition: 1.5s;
        color: white;
        position: relative;
        overflow: hidden;
    }


    .btn1 {
        color: white;
    }

    .btn1:hover {
        color: white;
        background-color: #3498db;
        transform: scale(0.9);
    }

    .btn::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 180%;
        background: purple;
        z-index: -1;
        transition: 0.3s;
    }

    .btn1::before {
        top: 0;
        border-radius: 0 0 50% 50%;
    }

    .btn1:hover::before {
        height: 0%;
    }

    /*new modifications*/

    .reject:hover {
        color: white;
        font-style: bold;
        background-color: #eb5534;
    }
    .hold:hover {
        color: white;
        background-color: #b3b2a1;
    }
    .select:hover {
        color: white;
        background-color: #5be37f;
    }

    #get{
        animation: border_rad 1s ease;
        animation-iteration-count: infinite;
    }

    #get:active{
        transform: scale(0.9);
    }

    
    @keyframes border_rad{
        50%{
            border-radius:10%;
        }
    }

    @keyframes widthdown{
        from{
            width : 130px;
            opacity: 10%;
        }
        to{
            width: 200px;
            opacity: 100%;
        }
    }

    @keyframes appear{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    @keyframes fade{
        from{
            opacity: 0.8;
        }
        to{
            opacity: 0;
        }
    }

    @keyframes unfold{
        0%{
            height: 50vh;
            opacity: 0.3;
        }
        100%{
            height: 85vh;
            opacity: 1;
        }
    }




</style>
<script>
    $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
<div class='container card main-card purple lighten-2 center'>
    {% if label and name%}
    <script>
            M.toast({html: 'Saved to Database', classes: 'rounded'})
    </script>
    {% endif %}
    {% if total%}
    <script>
            M.toast({html: 'Total Saved', classes: 'rounded'})
    </script>
    {% endif %}
    <div class='row full'>
        <div class='col card teal'>
            <div class="row teal">
                <div class="container center s4">
                    <div class="card hoverable statistics">
                        <div class="card-title center blue lighten-2 white-text">
                            <strong>Statistics</strong>
                        </div>
                        <div class="card">
                            <p>Interviewed : 120</p>
                            <p>Selected : 41</p>
                            <p>Rejected : 87</p>
                            <p>Progress ~ 23%</p>
                            <p>Phase : Lookup</p>
                            <p>______________</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='row card right2 s4 teal'>
                <div class='container valign-wrapper'>
                    <div class="card">
                        <div class="card-title center blue lighten-2 white-text">
                            <strong>Machine Learning</strong>
                        </div>
                        <div class="card-content center">
                            Get Suggestion from a DCT
                            <button type="submit" class="btn btn1 waves-effect waves-dark btn-large sub select" value='GET' id='get'><b>GET</b></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class='container center valign-wrapper'>
                <div class="row center total-form">
                    <form name='total_form' method='POST' action="{% url 'mainapp:homepage' %}">
                        {% csrf_token %}
                        <div class="col center input-field">
                            <input type="text" placeholder="Total Candidates" name='total' style='{color:white;'>
                        </div>
                        <div class="col center">
                            <button type="submit" class="waves-effect waves-dark btn-large btn1 btn sub select" value='SAVE' name='save'><b>SAVE</b></button>
                        </div>
                    </form>
                </div>
            </div> -->
            <!-- end of row2 -->
        </div>
        <!-- end of column 2 -->
        <div class='col left card hoverable'>
            <form name='main-form' method='POST' action="{% url 'mainapp:homepage' %}">
                {% csrf_token %}
            
                <!-- <div class="container"> -->
                <div class='card-title center blue lighten-2 white-text'>
                    <strong>Enter The Candidate's Data</strong>
                </div>
                <div class='row'>
                    <div class="input-field col s12">
                        <input id="fname" type="text" class="validate" name='fname' required>
                        <label for="fname">Full Name of the candidate</label>
                    </div>
                </div>
                <div class='row'>
                    <div class="input-field col s4">
                        <input id="email" type="text" class="validate" name='email'>
                        <label for="email">Email Address</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="contact" type="text" class="validate" name='contact'>
                        <label for="contact">Contact Number</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="dob" type="text" class="validate datepicker" name='dob'>
                        <label for="dob">Date Of Birth</label>
                    </div>
                </div>
                <div class='row'>
                    <div class="input-field col s4">
                        <input id="apti" type="text" class="validate">
                        <label for="apti">Aptitude Score</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="general" type="text" class="validate">
                        <label for="general">General Knowledge</label>
                    </div>
                    <div class="input-field col s4">
                        <input id='technical' type="text" class="validate">
                        <label for="technical">Technical Knowledge</label>
                    </div>
                </div>
                <div class='row'>
                    <div class="input-field col s4">
                        <input id="apti" type="text" class="validate">
                        <label for="apti">Aptitude Score</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="general" type="text" class="validate">
                        <label for="general">General Knowledge</label>
                    </div>
                    <div class="input-field col s4">
                        <input id='technical' type="text" class="validate">
                        <label for="technical">Technical Knowledge</label>
                    </div>
                </div>
                <div class='row'>
                    <div class="input-field col s4">
                        <input id="apti" type="text" class="validate">
                        <label for="apti">Aptitude Score</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="general" type="text" class="validate">
                        <label for="general">General Knowledge</label>
                    </div>
                    <div class="input-field col s4">
                        <input id='technical' type="text" class="validate">
                        <label for="technical">Technical Knowledge</label>
                    </div>
                </div>
                <div class='row'>
                    <div class="input-field col s4">
                        <input id="apti" type="text" class="validate">
                        <label for="apti">Aptitude Score</label>
                    </div>
                    <div class="input-field col s4">
                        <input id="general" type="text" class="validate">
                        <label for="general">General Knowledge</label>
                    </div>
                    <div class="input-field col s4">
                        <input id='technical' type="text" class="validate">
                        <label for="technical">Technical Knowledge</label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container buttons">
                    <div class="center card white lighten-3 buttons hoverable">
                        <div class="row"><button type="submit" value="REJECT" class="waves-effect waves-dark btn-large btn btn1 sub reject" name='reject' style="color:white;"><b>REJECT</b></button></div>
                        <div class="row"><button type="submit" value="HOLD" class="waves-effect waves-dark btn-large btn btn1 sub hold" name='hold'><b>HOLD</b></button></div>
                        <div class="row"><button type="submit" value="SELECT" class="waves-effect waves-dark btn-large btn btn1 sub select" name='select'><b>SELECT</b></button></div>
                        <div class="row"><a class="waves-effect waves-dark btn-large btn btn1" href="{% url 'mainapp:homepage' %}"><strong>RESET</strong></a></div>
                        <div class="row"><a class="waves-effect waves-dark btn-large btn btn1" href="{% url 'mainapp:visualise' %}"><strong>Visualise</strong></a></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- end of whole row -->
</div>
<!-- end of container -->
{% endblock %}